.node {
    width: 25px;
    height: 25px;
    outline: 1px solid grey;
    display: inline-block;  
}

.node_start {
    background-color: green;
}

.node_finish {
    background-color: red;
}

.node-visited {

}

.node-shortest-path {
    
}